* {
  box-sizing: border-box;
  margin:5px 5PX; ;
}
img{
  opacity:0.1 ;
}
html{
  background-image:url(bank1.png);
  background-repeat: no-repeat;
    background-size: cover;
}
H2{
    text-align: center;
    background-color:seagreen;
    font-size: 40px;
}
 
#search{
    display: flex;
}
#select_state>option{
font-size:20px;
padding: 8px 8px;
}

#select_state {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width:20%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 3px solid rgb(168, 14, 14);
  margin-bottom: 12px;
  margin-top: 12PX;
  color: black;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width:30%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 3px solid rgb(168, 14, 14);
  margin-bottom: 12px;
  margin-top: 12PX;
  color: black;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}


<!-- pagenation css -->
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  margin-top:25px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}